.footer
	margin-top: 120px
	border: 1px solid #E1F0EE
	&__wrapper
		display: grid
		padding: 30px 0px
		grid-template-columns: repeat(3, 1fr)
	&__copyright
		@extend %gray-text
		font-size: 25px
		line-height: 34px
	&__cookies
		display: flex
		flex-direction: column
		@extend %gray-text
		text-align: center
		font-size: 16px
		line-height: 22px
	&__cookies-link
		@extend %btn-color
		margin-top: 20px
	&__links
		text-align: end
		@extend %btn-color
		font-size: 25px
		line-height: 34px
	&__links-list
		display: flex
		justify-content: flex-end
		gap: 0 17px
		margin-top: 20px
	&__links-list-link-img
		&:hover
			@media #{mouse-device}
				transform: scale(1.03, 1.03)


@media screen and (max-width: 768px)
	.footer
		&__wrapper
			display: grid
			gap: 15px
			padding: 15px 0px
			grid-template-columns: 2fr 1fr
		&__logo
			max-width: 70px
		&__copyright,
		&__links
			font-size: 12px
			line-height: 16px
			align-self: end
		&__cookies
			display: none
		&__links-list
			gap: 0 10px
			margin-top: 13px
		&__links-list-link-img
			height: max-content