.header
    border: 1px solid #E1F0EE
    &__wrapper  
        display: flex
        justify-content: space-between
        padding: 25px 0
    &__nav
        display: flex
        justify-content: center
    &__list 
        display: flex
        justify-content: center
        gap: 0 80px
    &__list-item
        display: flex
        justify-content: center
        align-items: center
    &__list-link
        @extend %heading
        font-family: 'Raleway-SemiBold', sans-serif
        font-weight: 600
        size: 18px
