@import vars
@import fonts
@import reset
@import global

html
    scroll-behavior: smooth

body
    font-family: 'Nunito-Regular', sans-serif
    font-weight: 400
    background: #f9fcff

.visually-hidden
    display: none

.blue-text-color
    @extend %btn-color

.dark-blue-text-color
    @extend %body-text

@import "sections/header"
@import "sections/preview"
@import "sections/easy"
@import "sections/requests"
@import "sections/superiority"
@import "sections/promo"
@import "sections/formats"
@import "sections/our-psychologists"
@import "sections/advantages"
@import "sections/guarantees"
@import "sections/questions"
@import "sections/care-service"
@import "sections/footer"
